
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a New Campground</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/company" method="POST">
                
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="coverImage" placeholder="Cover Image">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="logo" placeholder="Logo">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="shortDescription" placeholder="Short Description">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="highlights" placeholder="Highlights">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="highlights" placeholder="Highlights">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="video" placeholder="video url">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="video" placeholder="Add Another video">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="video" placeholder="Add Another video">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="longDescription" placeholder="long Description">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="team" placeholder="team members">
                </div>

                <div class="form-group">
                        <input class="form-control" type="text" name="milestones" placeholder="milestones">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name="productDescription" placeholder="product Description">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="jobVacancies" placeholder="job Vacancies">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="contactDetails" placeholder="contact Details">
                </div>
                
                <div class="form-group">
                        <input class="form-control" type="text" name="website" placeholder="Website URL">
                </div>

                <div class="form-group">
                        <input class="form-control" type="text" name="socialMediaLink" placeholder="Social Media Link">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/company">Go Back</a>
        </div>
    </div>
</div>

